[submodule "DPE-Energy-Performance-Analysis-ClientApp"]
	path = DPE-Energy-Performance-Analysis-ClientApp
	url = https://github.com/fereol023/DPE-Energy-Performance-Analysis-ClientApp.git
	branch = main
[submodule "pipelines_templates"]
	path = pipelines_templates
	url = https://github.com/fereol023/pipelines_templates.git
[submodule "DPE-Energy-Performance-Analysis-ETL"]
	path = DPE-Energy-Performance-Analysis-ETL
	url = https://github.com/fereol023/DPE-Energy-Performance-Analysis-ETL.git
